<%= render 'shared/navbar2' %>
<div class="container vh-100 d-flex justify-content-center">
  <div class="row align-items-center">
    <h1>New list</h1>
      <%= simple_form_for @list  do |f| %>
        <%= f.input :name %>
        <%= f.input :genre %>
        <%= f.submit "create"%>
      <% end %>
    <p>
    </p>
  </div>
</div>
