<nav class="navbar mt-2 p-4">
  <div class="container-fluid">
    <a class="navbar-brand">My bookmarks</a>
    <form class="d-flex" role="search">
      <a href="<%= new_list_path %>" class="btn btn-primary blue-button" style="text-decoration: none;">create a new list</a>
    </form>
  </div>
</nav>
          <%= link_to 'Add a new bookmark', new_list_bookmark_path(@list), class: 'btn btn-primary blue-button' %>
          <%= link_to 'delete this bookmark', bookmark_path(@bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: ' btn btn-primary blue-button' %>
<div class="container d-flex mt-4 justify-content-center vh-100 list-show">
    <h1> Your list </h1>
      <% @list.bookmarks.each do |bookmark|%>
        <h2>Movie Title: <%= bookmark.movie.title %> </h2>
          <h5> description: <%= bookmark.comment %> </h5>
          <h5> Movie Rating: <%= bookmark.movie.rating %> </h5>
          <h5> More Details: <%= bookmark.movie.overview %> </h5>
          <div class="container justify-content-center mt-4">
          <%= link_to 'Add a new bookmark', new_list_bookmark_path(@list), class: 'btn btn-primary blue-button' %>
          <%= link_to 'delete this bookmark', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: ' btn btn-primary blue-button' %>
          </div>
      <% end %>
  </div>
</div>
